.footer{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 4vh;
    height: 4vh;
}
.team{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.team li{
    margin:0 1vh;
    align-self: center;
}