
.infoHeader{
  display: flex;
   justify-content: space-around; 
  flex-grow: 1; 
  padding-top: inherit;
  
  
}


.App {
  text-align: center;
}
.logo{
  width: 500px;
  height: 500px;
}
header{
  display: flex;
  padding: 40px;
  justify-content: space-between;
  flex-direction: row;
  background-color: #191970;
  color: white;

}
.barra-superior{
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
.barraBuscar{
  border-radius: 50px;
  height: 30px;
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
}
.boton{
  border-radius: 50px;
  height: 30px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.titulo{
  font-size: 250%;
}


