

.App {
  text-align: center;
}
img{
  width: 200px;
  height: 200px;
}
header{
  display: flex;
  padding: 40px;
  padding-left: 80px;
  height: 250px;
  flex-direction: row;
  background-color: black;
  color: white;
}
.barra-superior{
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
.barraBuscar{
  border-radius: 50px;
  height: 30px;
  width: 300px;
  
  box-sizing: border-box;
}
.boton{
  border-radius: 50px;
  height: 30px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.titulo{
  font-size: 250%;
}


.buscador {

  width: 500px;
   background-color: #131414;
   
   border: 3px solid #176e6a;
   border-radius: 10px;
   height: 40px;
   color: black;
   font-family: 'Roboto', sans-serif;
        font-size: 13px;
   }
.buscador:hover{
  background-color: rgb(101, 180, 178);
}

   .botonbuscador{
    background-color:#131414;
    border: 3px solid #176e6a;
    color: white;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
        font-size: 13px;
}

.botonbuscador:hover{
   background-color: #20A39E; 
}
