.contenedor{
   
   
}
.aditional-info {
    display: flex;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

article{
    padding: 20px;
    flex-basis: 20%;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: gray;
}
.ver-mas{
    color: blueviolet;
    
}