/* ORIENTACION */

.App{
    font-family: 'Oxygen', sans-serif;
}

#botones{
    height: 10px;
    color: white; 
}
.contenedorBotenes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: 5px;
    color: white
}
.columna article{
    width: 100%;
}
.columna article main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.columna{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    padding: 40px;
    color: black; 
    width: 100%;
}

.fila{
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    padding: 40px;
    color: black;
}
article{
    padding: 20px;
    transition-duration: 0.5s;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #F5F5F5;
    width: 23%;
    color: #237a76;
    text-align: center;
    font-size: 18px;
    font-family: 'Oxygen', sans-serif;
}
.ver-mas{
    color: black;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 25px;
}
.barra-superior{
    display: flex;
    justify-content: space-between;
}
article:hover{
    box-shadow: 0 8px 16px 0 white, 0 6px 20px 0 white;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.image{
    width: 60%;
    border-radius: 15px;
}
.imagen-contenedor{
    display: flex;
    justify-content: space-around;
}
.contenedor{
    background-color: black;

}

.sin-resultados{

    color: white;
    text-align: center;
}

.buscador {

    width: 500px;
     background-color: #176e6a;
     margin-left: 550px;
     margin-right: 20px;
     margin-top: 70px;
     margin-bottom: 15px;
     border: 3px solid #176e6a;
     height: 40px;
     padding: 5px;
     padding-left: 10px;
     padding-right: 10px;
     color: white;
     font-family: 'Roboto', sans-serif;
        font-size: 20px;
    

     }
     .botonbuscador:hover{
        background-color: #20A39E; 
     }
 .populares{
     text-align: center;

        font-size: 46px;
        background-color: black;
        color: white;
        margin-top: 0px;
        font-family: 'Alumni Sans', sans-serif;
 }